In [1]:
import pandas as pd

In [2]:
train = pd.read_csv(r'\\icnas2.cc.ic.ac.uk\jr3418\Desktop\UROP\kaggle learn\Titanic\titanic\train.csv')

In [3]:
test = pd.read_csv(r'\\icnas2.cc.ic.ac.uk\jr3418\Desktop\UROP\kaggle learn\Titanic\titanic\test.csv')

In [6]:
from sklearn.metrics import mean_absolute_error
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [7]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [8]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [9]:
train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [71]:
y = train.Survived
train_feature = [ 'Pclass',  'Sex', 'Age', 'SibSp',
       'Parch',]
X = train[train_feature]

In [72]:
X.head()

   Pclass     Sex   Age  SibSp  Parch
0       3    male  22.0      1      0
1       1  female  38.0      1      0
2       3  female  26.0      0      0
3       1  female  35.0      1      0
4       3    male  35.0      0      0

In [73]:
from sklearn.model_selection import train_test_split
X_train, val_X, y_train, val_y = train_test_split(X, y, random_state =2)

In [74]:
#deal with missing value
missing = (X_train.isnull().sum())
print(missing)#number of missing value

Pclass      0
Sex         0
Age       141
SibSp       0
Parch       0
dtype: int64

In [76]:
#catagorical data
label_X_train = X_train.copy()
label_X_valid = val_X.copy()
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
label_X_train['Sex'] = encoder.fit_transform(X_train['Sex'])
label_X_valid['Sex'] = encoder.transform(val_X['Sex'])

In [78]:
from sklearn.preprocessing import Imputer
imputer = Imputer(missing_values = "NaN", strategy = "mean", axis = 0)
label_X_train = imputer.fit_transform(label_X_train)
label_X_valid = imputer.transform(label_X_valid)

In [79]:
model = RandomForestRegressor(random_state = 1)
model.fit(label_X_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=1, verbose=0, warm_start=False)

In [84]:
preds = model.predict(label_X_valid)

In [85]:
print(mean_absolute_error(val_y, preds))

0.24647546352938926

In [86]:
print(preds)

[0.24       0.14836081 1.         0.         0.1        0.22531746
 0.         0.17524531 0.         0.         0.16111111 1.
 0.9        0.02137893 0.02137893 0.4        0.5        0.
 0.9        0.1        0.3        0.26       0.20722222 0.1
 0.15254329 0.7        1.         0.4        0.         0.
 0.09936508 0.         0.5        0.31557464 0.         0.3
 1.         0.3        0.02137893 0.16111111 0.         0.05
 0.55       0.1        0.14836081 0.31557464 1.         0.02137893
 0.         0.75       0.02137893 0.4        0.1        0.
 0.55611111 0.5        0.5        0.14836081 0.         0.30801587
 1.         1.         0.         0.02137893 0.9        0.
 1.         0.25       0.2        0.1        0.1        0.1
 0.64515873 0.         0.8        1.         0.         1.
 1.         0.30801587 1.         0.31557464 0.1        0.
 1.         1.         0.         0.02137893 1.         0.
 0.02137893 0.15254329 0.195      0.02137893 0.05       1.
 0.1        1.         0.02137893 0.4        1.         0.
 1.         1.         0.09936508 0.7        1.         0.64515873
 0.21666667 0.         0.31557464 0.195      0.7        0.15254329
 1.         1.         0.44166667 0.9        1.         0.1
 1.         0.64333333 0.32071429 0.         0.09936508 0.02137893
 0.1        1.         0.         0.32071429 0.02137893 0.925
 0.3        1.         0.         0.1        0.         0.02137893
 0.         0.1        0.76666667 1.         1.         1.
 0.31557464 1.         0.10270563 0.         0.         1.
 0.25595238 0.79444444 0.22531746 0.06666667 0.69698864 0.
 0.4        1.         0.9        0.         0.9        0.02137893
 0.15254329 0.195      1.         1.         0.         0.02137893
 1.         0.         0.         0.         1.         0.55
 0.10270563 0.         0.06       0.27380952 0.2        0.
 0.9        0.01666667 0.         0.09936508 0.03       0.22531746
 0.3        0.56666667 0.02137893 0.73       1.         0.
 0.02137893 0.4        0.7        0.         0.         0.36
 0.1        0.5        0.         0.88333333 0.71666667 0.
 1.         0.1        0.04       0.31557464 0.06666667 0.2
 1.         0.46666667 0.06       0.2        0.         1.
 0.         0.50944444 1.         0.06666667 0.15254329 0.045
 0.69698864]